/* Form input and controls */

#mood-submit-btn{
    border-radius: 0.8rem;
    font-size: 0.85rem;
    padding: 0.75rem;
    width: 200px;
    margin-top: 0.5rem;
    border: none;
    box-shadow: 2px 2px 5px black;
    background-color: #73bd8a;
}

#mood-submit-btn:hover{
    background-color: lightgreen;
    transition: 0.5s ease; 
    cursor: pointer;
}

/* Mood notes text area styling */
#mood-notes{
    width: 100%;
    max-width: 400px;
    height: 175px;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    resize: vertical;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#mood-notes:focus{
    border-color: #007BFF; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); 
    background-color: #ffffff;
}


/* Slider container styling */

#slider-container{
    position: relative;
    width: 100%;
    max-width: 400px;
}

#slider-container::before {
    content: attr(data-emoji);
    position: absolute;
    top: -5px;
    left: calc(var(--thumb-position, 50%) + 2px);
    transform: translateX(-50%);
    font-size: 24px;
    pointer-events: none;
    z-index: 1;
}

/* Mood slider / value styling */

#mood-value{
    -webkit-appearance: none; 
    position: relative;
    width: 100%; 
    max-width: 400px; /* Optional, limits the width */
    height: 12px;
    background: #ccc; 
    border-radius: 8px; 
    outline: none; 
    transition: background 0.3s ease; 
}

#mood-value::-webkit-slider-thumb, #mood-value::-moz-range-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 22px; 
    height: 22px;
    border-radius: 50%;
    background: none;
    position: relative;
    border: none;
}

#mood-value:hover::-webkit-slider-thumb {
    transform: scale(1.15);
    cursor: pointer;
}

/* Slider ticks styling */

.slider-ticks-group{
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    width: 397px;
    margin-left: 5px;
}

.slider-tick{
    position: relative;
    width: 2px;
    height: 8px;
    background-color: #333;
}

.slider-tick-label{
    position: absolute;
    top: 12px;
    left: -5px;
    font-size: 0.9rem;
    color: #333;
    text-align: center;
}

/* Slider text at that valie*/
.mood-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100px;
    height: 25px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: lightblue;
}

.mood-text:hover{
    transform: translateY(-2px);
    transition: 0.5s ease-in
}

/* Edit form */